# 初次上传忽略
﻿# *.png
# *.jpg
# *.Wav
# *.apk
# *.mp3
# *.gif
# *.flv
# *.wma
# *.wmv
# *.avi
# *.doc
# *.pptx
# *.ppt
# *.zip
# *.rar
# *.docx
# *.aac
# *.xlsx
# *.psd
# *.exe
# *.mp4
# *.ppk

# .idea/

*.pyc
*.DS_Store
/4.4.4_男女朋友层
